/node_modules
/public/hot
/public/downloads
public/cookie.txt
/public/storage
/public/padron_extract/*
/public/padron_rar/*
/storage/*.key
/storage/backups/*
/storage/framework/laravel-excel/*
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
access_log
error_log
.env.dusk
.env.dusk.local
debug.log
phpunit.dusk.xml
docker-compose.yml
composer.lock
/ssh
/.project
app/CoreFacturalo/Templates/pdf/personalizada*
public/templates/pdf/personalizada*