.header-contact {
    position: relative;
    color: #fff;
    letter-spacing: 0;
    font-size: 1.8rem;
    line-height: 1.4;
    padding-right: 2rem;
    margin-right: 2rem;
}

.cart-dropdown .dropdown-toggle::before {
    display: inline-block;
    content: '';
    font-family: 'porto';
    font-size: 3.3rem;
    line-height: 1;
    margin: 2px 0 0;
    color: #fff;
}

.cart-dropdown .dropdown-toggle i::before {
	margin-right: 0px;
}

.cart-dropdown .dropdown-toggle::after {
    line-height: 2.5rem;
}
.cart-dropdown .dropdown-toggle {
    padding-right: 1.5rem;
}

.cart-dropdown .dropdown-toggle .cart-count {
    right: 1rem;
    top: 0rem;
}

.cart-dropdown .dropdownmenu-wrapper::before {
    right: 15px;
}

.cart-dropdown .dropdownmenu-wrapper::after {
    right: 15px;
}

.main-nav {
    min-width: 75%;
}

.logo img {
    max-height: 60px;
}